

<div class="voice {}"><a class="label" href="/map/master/openlayers.html">MAP-MASTER PLAN</a></div>
<div class="voice {}"><a class="label" href="/map/network/openlayers.html">MAP-RAPID TRANSIT NETWORK</a></div>

<!--
<div class="voice {panel:'page/extrcreativity.html'}">
   <span class="label">mb.creativity</span>
</div>
-->
<div class="voice {disabled:true}"><span class="label">Project's Activity on Maps</span> </div>
<div id="top2" class="voice {panel:'page/extrcomponents.html'}">
   <a class="label" href="">Announcements</a>
</div>
<!--
<div class="voice {panel:'page/extrnetwork.html'}">
  <span class="label">mb.network</span>
</div>
-->
