
*[class*="formatcol"]{ /*Fixed IE 7 Floating Bug*/
  height:1%
}
*[class*="formatcol"]:after { /*Fixed Modern Browser floating bug*/
  content: "";
  display: block;
  clear: both;
}
*[class*="formatcol"] >* {
  float: left;
}
*[class*="formatcol"]>*>*:first-child{
  padding: 5px;
}
*[class$="twocol"]>*{
  width:50%;
}
*[class$="treecol"]>*{
  width:33.33%;
}
*[class$="fourcol"]>*{
  width:33.33%;
}
*[class$="fivecol"]>*{
  width:20%;
}
*{
  list-style: none outside none;
}
