<ul>
    	<%if session[:lang]=="en" %>
     	 <h2>All Announces</h2>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <h2>ประกาศทั้งหมด</h2>
      <%end%> 

<% @allannounces.each do |announce|%>
    <li class="<%=cycle('even', 'odd')%>" style="margin-top:5px;margin-buttom:5px;">
        <i style="float:right;">start on <%= announce.start_on.to_date.to_s(:long) %></i>
        <div style="width:500px"><a href="/announce/<%=announce.id%>" ;><%=announce.title%> </a></div>
    </li>     
 <%end%>
</ul>
