<ul>
    	<%if session[:lang]=="en" %>
     	 <h2>All News-Events</h2>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <h2>ข่าวสาร-กิจกรรมทั้งหมด</h2>
      <%end%> 

<%  @events.each do |event|%>
    <li class="<%=cycle('even', 'odd')%>" style="margin-top:5px;margin-buttom:5px;">
        <div style="width:500px"><a href="/showevent/<%=event.id%>" ;><%=event.title%> </a></div>
    </li>     
 <%end%>
</ul>
