<ul>
    	<%if session[:lang]=="en" %>
     	 <h2>Latest Progress Reports</h2>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <h2>ความก้าวหน้าล่าสุด</h2>
      <%end%> 

     <%@latestreports.each do |report|%>
      <li class=<%=cycle('even', 'odd')%>
           <span style="font-size:14px;">
           <a href="/showreport/<%=report.id%>"><%=report.title%>
           </span>
      </li> 
     <%end%>
</ul>
