<ul>
    	<%if session[:lang]=="en" %>
     	 <h2>Monthly Newsletters</h2>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <h2>ข่าวสารประจำเดือน</h2>
      <%end%> 
							<%@@allnewletters_month.sort.each do |month,newletters| %>
									<b><%= month.strftime('%B') %></b>
									<% for newletter in newletters %>
										<li>
											<p><small>
											 <a href="/shownews/<%=newletter.id%>"><%= newletter.title %> </a></small><br/>
											<i style="float:right;"> start on <%= newletter.start_on.to_date.to_s(:long) %></i>
											</p>
										</li>
									<% end %>
							<% end %>

</ul>
