<div id="controls"></div>
<div id="loading"></div>
<div id="slideshow"></div>
<div id="caption"></div>
<div id="thumbs">
 
     <%unless @imageshash.blank? %>
     	 <%= render :partial => '/static/gallery'%>
      <%end%>
</div>
