<div id="station">
    <ul>
      <% @newevents.each do |newevent|%>
       <li>
        <h2><%=newevent.title%></h2>
         <div style="position:relative;">
            <%=newevent.content.html_safe%> <br/>
        </div>
        <%= @map.div(:width => 700, :height => 370).html_safe %>
      </li> 
      <%end%>
  </ui>
</div>
