<p>
<a href="javascript:printContentDiv('lblPrint');" style="margin-left:600px;text-decoration:none;" ><img src="/images/icon_printer_only.gif" />print</a>
</p>
<div id="lblPrint" style="clear:both;">
<div id="announcebox">
    <ul>
      <%@newletters.each do |newletter|%>
       <li>
        <h3  class="blockReplace" style="padding-top:10px;"><%=newletter.title%></h3>
         <div class="group">
               <div class="envelope">
                 <div class="left">
                 <%=newletter.content.html_safe%> 
                 </div>
              </div>
              <% unless @map.nil? %>    
                <%= @map.div(:width => 630, :height => 370).html_safe %>  
              <%end%>
         </div>     
      </li> 
      <%end%>
  </ui>
</div>
</div>
