<div id="announcebox">
    <ul>
      <%@newletters.each do |newletter|%>
       <li>
        <h3 ><%=newletter.title%></h3>
         <div class="group">
               <div class="envelope">
                 <div class="left">
                 <%=newletter.content.html_safe%> 
                 </div>
              </div>
              <% unless @map.nil? %>    
                <%= @map.div(:width => 630, :height => 370).html_safe %>  
              <%end%>
         </div>     
      </li> 
      <%end%>
  </ui>
</div>
