<p>
<a href="javascript:printContentDiv('lblPrint');" style="margin-left:600px;text-decoration:none;C" ><span style="margin-top:5px;"><img src="/images/icon_printer_only.gif" /></span>print</a>
</p>
<div id="lblPrint" style="clear:both;">
<div id="announcebox">
    <ul>
      <%@reports.each do |report|%>
       <li>
        <h3  class="blockReplace" style="padding-top:10px;"><%=report.title%></h3>
         <div class="group">
               <div class="envelope">
                 <div class="left">
                 <%=report.content.html_safe%> 
                 </div>
                 <div class="envelope">
                    <%=render :partial=> 'static/imageshow'%>
                 </div>
              </div>

         </div>     
      </li> 
      <%end%>
  </ui>
</div>
</div>
