<p>
<a href="javascript:printContentDiv('lblPrint');" style="margin-left:600px;text-decoration:none;C" ><span style="margin-top:5px;"><img src="/images/icon_printer_only.gif" /></span>print</a>
</p>
<div id="lblPrint" style="clear:both;">
<div id="announcebox">
    <ul>
      <%@events.each do |event|%>
       <li>
        <h3  class="blockReplace" style="padding-top:10px;"><%=event.title%></h3>
         <div class="group">
               <div class="envelope">
                 <div class="left">
                 <%=event.content.html_safe%> 
                 </div>
              </div>
              <!--
              <% unless @map.nil? %>    
                <%= @map.div(:width => 660, :height => 370).html_safe %>  
              <%end%>
              -->
         </div>     
      </li> 
      <%end%>
  </ui>
</div>
</div>
