<ul >
  <% @announces.each do |announce|%>
     <li >
     
     
     <a href="/announce/<%=announce.id%>">
     <!-- <span class="badge" style="display:block;"><%=announce.start_on%></span> -->
     <div style="font-size:14px;display:block;margin-left:5px;color:#FFF;"><%=announce.title%>
     <%= image_tag("new.gif")  if (Date.today - announce.start_on) < 7  %>
     </div>
     <div style="hight:5px;">&nbsp; </div>
     
     </a>
     </li>
  <%end%>
</ul>

