<!-- s3slider width=940px, height=270px -->
<div id="com">
   <ul id="comcontent">
      <li class="suborg">
         <img src="../images/callcenter.gif" /><br/> <img src="../images/q_a.gif" />
      </li>
      <li >

 
      </li>
   </ul>
</div>   
