<!-- s3slider width=940px, height=270px -->
<div id="com">
   <ul id="comcontent">
      <li class="suborg">
         <img src="../images/callcenter.gif" />
      </li>
      <li class="suborg">
         <a href="">
         <img src="../images/q_a.gif" />
         </a>
      </li>     
   </ul>
</div>   
