<ul >
  <% @events.each do |event|%>
     <li >
     <a href="/event/<%=event.id%>">
     <span class="badge"><%=event.start_on%></span>
     <span><%=event.title%></span>
     </a>
     </li>
  <%end%>
</ul>

