<ul >
  <% @events.each do |event|%>
     <li style="min-height:1.5em;" >

     <a href="/showevent/<%=event.id%>">
     <span class="badge" style="display:block;"><%=event.start_on%></span>
     <div style="color:"#FFF";font-size:14px;display:block;margin-left:80px;"><%=event.title%>
        <%= image_tag("new.gif")  if (Date.today - event.start_on) < 15  %>
     </div>
     <div style="hight:5px;">&nbsp; </div>     
     </a>
     </li>
  <%end%>
</ul>


