<div id="gallery" class="content">
	<div id="controls" class="controls"></div>
	<div class="slideshow-container">
		<div id="loading" class="loader"></div>
		<div id="slideshow" class="slideshow"></div>
	</div>

	<div id="caption" class="caption-container"></div>
</div>

	<div id="thumbs" class="navigation">
		<ul class="thumbs noscript">
			<% @imageshash.each_with_index  do |images,index| %>
				<li>
					<%if images.assetable_type == "ReportsTranslation" %>
					   <%= link_to(image_tag(images.url(:thumb)), images.url(:middle), :class => "thumb", :title=> images.caption) unless images.blank? %>
					  <div class="caption">
						<a href="/showreport/<%=images.assetable_id%>" style="color:#FFF"><%=images.caption%></a>
					  </div>
					<%end%> 
				</li>
			<%end%>
		</ul>   
	</div>
   <div style="clear: both;"></div>

