<% @imageshash.each_with_index  do |images,index| %>
	<div class="thumb">
		<%if images.assetable_type == "ReportsTranslation" %>
		   <%= link_to(image_tag(images.url(:thumb)), images.url(:large), :class => "lightbox", :title=> images.caption  rescue nil+ "</br>" + images.caption_en rescue nil ) unless images.nil? %>
		<div class="phototitle">
		<a href="/showreport/<%=images.assetable_id%>"><%=truncate(images.caption,:length=>12,:omission=>"...")%></a>
	  </div>
	</div>  
	<%end%> 
<%end%>
<div style="clear: both;"></div>

<a href="/gallery/" style="color:#FFF">more picture on gallery..</a>


