<div id="containerribbon"> <!-- Main Container -->    

<div class="bubble"> <!-- Bubble -->
<div class="rectangle-t"><h2 style="hight:29px;"><%= image_tag("mrta-hg.png") %>&nbsp;&nbsp;MRTA</h2></div> <!-- Rectangle with a title -->


<div class="info">
<!--<h2>MRTA</h2>-->
   <div id="menuleft">
						 <h3 class='toggle'><a href="/mrtaview/16" >MRTA Background</a></h3>
             <div></div>
						 <h3 class='toggle'><a href="/mrtaview/13" >MRTA Organization</a></h3>
             <div></div>
						 <h3 class='toggle'><a href="/mrtaview/14" >Purple Line Project</a></h3>
								 <div class="hiddenDiv">
										 <a href="/mrtaview/10" >Project Organization</a><br>								 
										 <a href="/mrtaview/10" >Project Consultant</a><br>
										 <a href="/mrtaview/11" >Contractors</a>                       
								 </div>
						 <h3 class='toggle'><a href="/mrtaview/18" >Purple Line Extension</a></h3>
						 <div></div>
						 <h3 class='toggle'><a href="/mrtaview/15" >MRT Network Plan</a></h3>
						 <div></div>
   </div>
</div>
</div>

</div>

