<div id="containerribbon"> <!-- Main Container -->    

<div class="bubble"> <!-- Bubble -->
<div class="rectangle"><h2 style="hight:29px;"><%= image_tag("mrta-hg.png") %>&nbsp;&nbsp;Stations</h2></div> <!-- Rectangle with a title -->
<div class="triangle-l"></div> <!-- Left triangle -->
<div class="triangle-r"></div> <!-- Right triangle -->

<div class="info">
<!--<h2>MRTA</h2>-->

<ul class="">
		<li><a href="#"><b>S1</b>-Khlong Bang Phai Station</a></li>
		<li><a href="#"><b>S2</b>-Talad Bang Yai Station</a></li>
		<li><a href="#"><b>S3</b>-Sam Yaek Bang Yai Station</a></li>
		<li><a href="#"><b>S4</b>-Bang Phulu Station Station</a></li>
		<li><a href="#"><b>S5</b>-Bang Rak Yai Station</a></li>
		<li><a href="#"><b>S6</b>-Tha It Station</a></li>
		<li><a href="#"><b>S7</b>-Sai Ma Station</a></li>
		<li><a href="#"><b>S8</b>-Phra Nang Klao Bridge Station</a></li>
		<li><a href="#"><b>S9</b>-Yaek Nonthaburi 1 Intersection Station</a></li>
		<li><a href="#"><b>S10</b>-Si Phon Sawan Station</a></li>
		<li><a href="#"><b>S11</b>-Nonthaburi Civic Center Station</a></li>
		<li><a href="#"><b>S12</b>-Ministry of Public Health Station</a></li>
		<li><a href="#"><b>S13</b>-Yeak Tiwanon Station</a></li>
		<li><a href="#"><b>S14</b>-Wong Sawang Station</a></li>
		<li><a href="#"><b>S15</b>-Bang Son Station</a></li>
		<li><a href="#"><b>S16</b>-Tao Poon Station</a></li>
                    
</ul> 

</div>
</div>

</div>

