<div id="containerribbon"> <!-- Main Container -->    

  <div class="bubble"> <!-- Bubble -->
    <div class="rectangle-t"><h3 ><%= image_tag("mrtaboy.png") %>&nbsp;&nbsp;คำถาม-คำตอบ</h3></div> 
    <div class="info">
     <!--
      <ul id="menuleft">
          <li  class='toggle'><a href="/pageview/27">การประมาณจำนวนผู้โดยสาร</a></li>
          <li  class='toggle' style="line-height:110%;"><a href="/pageview/28">ข้อมูลการให้บริการเดินรถไฟฟ้า</a></li>
          <li  class='toggle'>
             <a href="/pageview/29">สถานีรถไฟฟ้า<span class="arrow"><%=image_tag("DoubleArrowRight.gif")%></span></a>

							<ul id="liststation" style="width:250px;">
							<li><a href="/station/1"><b class="station">S01</b>&nbsp;&nbsp;สถานีคลองบางไผ่</a></li>
							<li><a href="/station/2"><b class="station">S02</b>&nbsp;&nbsp;สถานีตลาดบางใหญ่</a></li>
							<li><a href="/station/3"><b class="station">S03</b>&nbsp;&nbsp;สถานีสามแยกบางใหญ่</a></li>
							<li><a href="/station/4"><b class="station">S04</b>&nbsp;&nbsp;สถานีบางพลู</a></li>
							<li><a href="/station/5"><b class="station">S05</b>&nbsp;&nbsp;สถานีบางรักใหญ่ </a></li>
							<li><a href="/station/6"><b class="station">S06</b>&nbsp;&nbsp;สถานีท่าอิฐ </a></li>
							<li><a href="/station/7"><b class="station">S07</b>&nbsp;&nbsp;สถานีไทรม้า</a></li>
							<li><a href="/station/8"><b class="station">S08</b>&nbsp;&nbsp;สถานีสะพานพระนั่งเกล้า </a></li>
							<li><a href="/station/9"><b class="station">S09</b>&nbsp;&nbsp;สถานีแยกนนทบุรี I </a></li>
							<li><a href="/station/10"><b class="station">S10</b>&nbsp;&nbsp;สถานีศรีพรสวรรค์ </a></li>
							<li><a href="/station/11"><b class="station">S11</b>&nbsp;&nbsp;สถานีศูนย์ราชการนนทบุรี </a></li>
							<li><a href="/station/12"><b class="station">S12</b>&nbsp;&nbsp;สถานีกระทรวงสาธารณสุข </a></li>
							<li><a href="/station/13"><b class="station">S13</b>&nbsp;&nbsp;สถานีแยกติวานนท์</a></li>
							<li><a href="/station/14"><b class="station">S14</b>&nbsp;&nbsp;สถานีวงศ์สว่าง </a></li>
							<li><a href="/station/15"><b class="station">S15</b>&nbsp;&nbsp;สถานีบางซ่อน </a></li>
							<li><a href="/station/16"><b class="station">S16</b>&nbsp;&nbsp;สถานีเตาปูน </a></li>               
							</ul>
					</li>		
           <li style="height:35px;line-height:110%"><a href="/pageview/30">แนวเส้นทาง และ โครงสร้างทางรถไฟยกระดับ</a></li> 
           <li class='toggle'><a href="/pageview/31">ศูนย์ซ่อมบำรุง</a></li> 
           <li class='toggle' style="line-height:110%;"><a href="/pageview/32">อาคารจอดรถและสิ่งอำนวยความสะดวก</a></li>
           <li class='toggle' style="line-height:110%;"><a href="/pageview/52">สะพานข้ามแม่น้ำเจ้าพระยา</a></li>
           <li class='toggle'><a href="">ระบบอื่น	ๆ<span class="arrow"><%=image_tag("DoubleArrowRight.gif")%></span></a> 
               <ul  id="#listspecial" style="width:250px;">
                 <li><a href="/pageview/48">ระบบรางรถไฟฟ้า </a></li>
                 <li><a href="/pageview/47">ระบบรถไฟฟ้า </a></li>
                 <li><a href="/pageview/42">ตู้รถไฟฟ้า</a></li>
               </ul>
           </li>
           <li class='toggle'><a href="">สิ่งอำนวยความสะดวก<span class="arrow"><%=image_tag("DoubleArrowRight.gif")%></span></a> 
               <ul  id="#listspecial" style="width:250px;">
                 <li><a href="/pageview/43">ลิฟท์และบันไดเลื่อน </a></li>
                 <li><a href="/pageview/46">สำหรับผู้พิการ</a></li>
               </ul>
           </li>           
     </ul>
     -->
    </div>
  </div>

</div>

