<div id="containerribbon"> <!-- Main Container -->    

<div class="bubble"> <!-- Bubble -->
<div class="rectangle"><h2 style="hight:29px;"><%= image_tag("mrta-hg.png") %>&nbsp;&nbsp;MRTA</h2></div> <!-- Rectangle with a title -->
<div class="triangle-l"></div> <!-- Left triangle -->
<div class="triangle-r"></div> <!-- Right triangle -->

<div class="info">
<!--<h2>MRTA</h2>-->
   <div id="accordion">

						 <h3><a href="/pageview/16">MRTA Home</a></h3>
						 <div></div>
						 <h3><a href="/pageview/13">Organization</a></h3>
						 <div></div>
						 <h3><a href="/pageview/14">Purple Line (I) Section</a></h3>
								 <div>
										 <a href="/pageview/10" style="padding-left:20px;">Project Consultant</a>
										 <a href="/pageview/11" style="padding-left:20px;">Contractors</a>                       
								 </div>
						 <h3><a href="/pageview/18">Purple Line Extension</a></h3>
						 <div></div>
						 <h3><a href="/pageview/15">MRTA Network Plan</a></h3>
						 <div></div>
   </div>
</div>
</div>

</div>

