<div id="containerribbon"> <!-- Main Container -->    

<div class="bubble"> <!-- Bubble -->
<div class="rectangle"><h2 style="hight:29px;"><%= image_tag("mrta-hg.png") %>&nbsp;&nbsp;MRTA</h2></div> <!-- Rectangle with a title -->
<div class="triangle-l"></div> <!-- Left triangle -->
<div class="triangle-r"></div> <!-- Right triangle -->

<div class="info">
<!--<h2>MRTA</h2>-->

<ul class="">
   <li><a href="#">Home</a></li>
   <li><a href="#">MRTA Home</a></li>
   <li><a href="#">Organization</a></li>
   <li><a href="#">Purple Line (I) Section</a></li>
   <li><a href="#">Purple Line Extension</a></li>
   <li><a href="#">MRT Network Plan</a></li>
   <li><a href="#">PCPL</a></li>
   <li><a href="#">Contractos</a></li>
</ul> 

</div>
</div>

</div>

