<div id="containerribbon"> <!-- Main Container -->    

  <div class="bubble"> <!-- Bubble -->
    <div class="rectangle-t"><h2 ><%= image_tag("mrtaboy.png") %>&nbsp;&nbsp;PROJECT</h2></div> 
    <div class="info">
      <div id="menuleft">
          <h3  class='toggle'><a href="/pageview/19">Ridership Forecast</a></h3>
            <div></div>
          <h3  class='toggle'><a href="/pageview/26">Operational Data</a></h3>
            <div></div>
          <h3  class='toggle'>
             <a href="/allstation">Stations<span class="arrow"><%=image_tag("DoubleArrowRight.gif")%></span></a>
             
          </h3>
             <div class="hiddenDiv">
							<ul class="">
							<li><a href="/station/1"><b class="station">S01</b>&nbsp;&nbsp;Khlong Bang Phai</a></li>
							<li><a href="/station/2"><b class="station">S02</b>&nbsp;&nbsp;Talad Bang Yai </a></li>
							<li><a href="/station/3"><b class="station">S03</b>&nbsp;&nbsp;Sam Yaek Bang Yai</a></li>
							<li><a href="/station/4"><b class="station">S04</b>&nbsp;&nbsp;Bang Phlu </a></li>
							<li><a href="/station/5"><b class="station">S05</b>&nbsp;&nbsp;Bang Rak Yai </a></li>
							<li><a href="/station/6"><b class="station">S06</b>&nbsp;&nbsp;Tha It </a></li>
							<li><a href="/station/7"><b class="station">S07</b>&nbsp;&nbsp;Sai Ma</a></li>
							<li><a href="/station/8"><b class="station">S08</b>&nbsp;&nbsp;Phra Nang Klao Bridge </a></li>
							<li><a href="/station/9"><b class="station">S09</b>&nbsp;&nbsp;Yaek Nonthaburi I </a></li>
							<li><a href="/station/10"><b class="station">S10</b>&nbsp;&nbsp;Si Phon Sawan </a></li>
							<li><a href="/station/11"><b class="station">S11</b>&nbsp;&nbsp;Nonthaburi Civic Center </a></li>
							<li><a href="/station/12"><b class="station">S12</b>&nbsp;&nbsp;Ministry of Public Health </a></li>
							<li><a href="/station/13"><b class="station">S13</b>&nbsp;&nbsp;Yaek Tiwanon </a></li>
							<li><a href="/station/14"><b class="station">S14</b>&nbsp;&nbsp;Wong Sawang </a></li>
							<li><a href="/station/15"><b class="station">S15</b>&nbsp;&nbsp;Bang Son </a></li>
							<li><a href="/station/16"><b class="station">S16</b>&nbsp;&nbsp;Tao Poon </a></li>               
							</ul> 
            </div>
           <h3 style="height:35px;"><a href="/pageview/20">Elevated Structures and Route Alignment</a></h3> 
           <div></div>
           <h3 class='toggle'><a href="/pageview/21">Depot</a></h3> 
           <div></div>
           <h3 class='toggle'><a href="/pageview/22">Park & Ride Buildings</a></h3> 
           <div></div>
           <h3 class='toggle'><a href="">Special Systems<span class="arrow"><%=image_tag("DoubleArrowRight.gif")%></span></a></h3> 
             <div class="hiddenDiv">
               <ul>
                 <li><a href="/pageview/23">Track Works </a></li>
                 <li><a href="/pageview/24">Systems </a></li>
                 <li><a href="/pageview/25">Rolling Stocks </a></li>
               </ul>
             </div>
     </div>
    </div>
  </div>

</div>

