
<ul id="menu">
    <span class="cycle"></span> 
   <span class="title">MRTA - PURPLE LINE  PROJECT</span> 
   
	<li class="menu_right"><a href="#" class="drop">Links</a>
		<div class="dropdown_1column align_right">
                <div class="col_1">
                    <ul class="simple">
										<div class="">
                        <li><a href="#">Project Details</a></li>
                        <li><a href="#">Overall Progress</a></li>
                        <li><a href="#">Announcements</a></li>
										</div>
                    </ul>   
                </div>
		</div>
	</li>
   
	<li class="menu_right"><a href="#" class="drop">News&Events</a>
    
		<div class="dropdown_1column align_right">
         <h3>News</h3>
                <div class="col_1">
                    <ul class="simple">
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">All News</a></li>
                    </ul>
                </div>
         <h3>Announcements</h3>
                <div class="col_1">
                    <ul class="simple">
                    <% Category.all.each do |c| %>
                    <li>
                       <%if  c.icon.exists? then %>
                          <%= image_tag c.icon.url(:iconsmall), :size => "22x22"%>
                       <%end%>
                       <a href="#"><%=c.name_en%>
                    </li>
                     <%end%>                      
                    </ul>   
                </div>
         <h3>Events</h3>
                <div class="col_1">
                    <ul class="simple">

                        <li><a href="#">Public</a></li>
                        <li><a href="#">Social</a></li>

                    </ul>   
                </div>                
		</div>
	</li>




	<li class="menu_right"><a href="#" class="drop">Progress</a>
		<div class="dropdown_1column ">
                <div class="col_1">
     <ul class="simple">
			<div class="">
               <li><a href="#">Elevated Works</a></li>
               <li><a href="#">Stations</a></li>
               <li><a href="#">Depot</a></li>
               <li><a href="#">Park & Ride Buildings</a></li>
               <li><a href="#">Bridge</a></li> 
               <li class="underline"><a href="#">Special Items</a></li>                
			</div>
      <hr  style="border: 1px dotted #736F6E;" >
                        <li><a href="#">Photo & Video</a></li>
                        <li><a href="/progress">Graph</a></li>
      </ul>   
                     
                </div>
                
		</div>
        
	</li>
	<li class="menu_right"><a href="/project" class="drop">Project</a>
		<div class="dropdown_1column ">
                <div class="col_1">
     <ul class="simple">
				<div class="">
								 <li><a href="/pageview/19">Ridership Forecast</a></li>
								 <li><a href="/pageview/26">Operational Data</a></li>
								 <li><a href="/allstation">Stations</a></li>
								 <li><a href="/pageview/20">Elevated Structures & Route Alignment</a></li>
								 <li><a href="/pageview/21">Depot</a></li> 
								 <li><a href="/pageview/22">Park & Ride Buildings</a></li>                
				</div>
				<div class="">
					 <h3>Special Systems</h3>
				</div>
													<li><a style="padding-left:15px;" href="/pageview/23">Track Works</a></li>
													<li><a style="padding-left:15px;" href="/pageview/24">Systems</a></li>
													<li><a style="padding-left:15px;" href="/pageview/25">Rolling Stocks</a></li>													
      </ul>                  
      </div>  
		</div>
        
	</li>
	
	<li class="menu_right"><a href="/index" class="drop">Home</a>
    
		<div class="dropdown_1column">
        
                <div class="col_1">
                    <ul class="simple">
											 <li><a href="/mrtaview/16">MRTA Home</a></li>
											 <li><a href="/mrtaview/13">Organization</a></li>
											 <li><a href="/mrtaview/14">Purple Line (I) Section</a></li>
											 <li><a href="/mrtaview/10" style="padding-left:20px;">Project Consultant</a></li>
											 <li><a href="/mrtaview/11" style="padding-left:20px;">Contractors</a></li>                        
											 <li><a href="/mrtaview/18">Purple Line Extension</a></li>
											 <li><a href="/mrtaview/15">MRTA Network Plan</a></li>
                    </ul>   
                     
                </div>
                
		</div>
	
	</li>
</ul>
