
<ul id="menu">
    <span class="cycle"></span> 
   <span class="title">MRTA - PURPLE LINE  PROJECT</span> 
   
	<li class="menu_right"><a href="#" class="drop">เชื่อมโยง</a>
		<div class="dropdown_1column align_right">
                <div class="col_1">
                    <ul class="simple">
										<div class="">
                        <li><a href="#">รายละเอียดโครงการ</a></li>
                        <li><a href="#">ภาพรวมความก้าวหน้า</a></li>
                        <li><a href="#">ประกาศ</a></li>
										</div>
                    </ul>   
                </div>
		</div>
	</li>
   
	<li class="menu_right"><a href="#" class="drop">ข่าวสารโครงการ</a>
    
		<div class="dropdown_1column align_right">
         <h3>ข่าว</h3>
                <div class="col_1">
                    <ul class="simple">
                        <li><a href="#">ข่าวล่าสุด</a></li>
                        <li><a href="#">ข่าวทั้งหมด</a></li>
                    </ul>
                </div>
         <h3>ประกาศโครงการ</h3>
                <div class="col_1">
                    <ul class="simple">
                        <li><a href="#">ด้านจราจร</a></li>
                        <li><a href="#">ด้านความปลอดภัย</a></li>
                        <li><a href="#">ด้านสิ่งแวดล้อม</a></li>
                        <li><a href="#">Public/Social Events</a></li>
                        <li><a href="#">PR/CR Activities</a></li>
                        <li><a href="#">Public Opinions</a></li>
                        <li><a href="#">เยี่ยมชมโครงการ</a></li>
                        <li><a href="#">งานออกแสดง</a></li>                        
                    </ul>   
                </div>
         <h3>งาน Events</h3>
                <div class="col_1">
                    <ul class="simple">

                        <li><a href="#">ด้านสังคม</a></li>
                        <li><a href="#">ด้านสังคม</a></li>

                    </ul>   
                </div>                
		</div>
	</li>




	<li class="menu_right"><a href="#" class="drop">ความคืบหน้าโครงการ</a>
		<div class="dropdown_1column ">
                <div class="col_1">
     <ul class="simple">
			<div class="">
               <li><a href="#">Elevated Works</a></li>
               <li><a href="#">Stations</a></li>
               <li><a href="#">Depot</a></li>
               <li><a href="#">Park & Ride Buildings</a></li>
               <li><a href="#">Bridge</a></li> 
               <li class="underline"><a href="#">Special Items</a></li>                
			</div>
      <hr  style="border: 1px dotted #736F6E;" >
                        <li><a href="#">รูปภาพโครงการ & วิดีโอ</a></li>
                        <li><a href="/progress">แผนภูมิ</a></li>
      </ul>   
                     
                </div>
                
		</div>
        
	</li>
	<li class="menu_right"><a href="/project" class="drop">โครงการ</a>
		<div class="dropdown_1column ">
                <div class="col_1">
     <ul class="simple">
				<div class="">
								 <li><a href="/pageview/19">Ridership Forecast</a></li>
								 <li><a href="/pageview/26">Operational Data</a></li>
								 <li><a href="/allstation">Stations</a></li>
								 <li><a href="/pageview/20">Elevated Structures & Route Alignment</a></li>
								 <li><a href="/pageview/21">Depot</a></li> 
								 <li><a href="/pageview/22">Park & Ride Buildings</a></li>                
				</div>
				<div class="">
					 <h3>Special Systems</h3>
				</div>
													<li><a style="padding-left:15px;" href="/pageview/23">Track Works</a></li>
													<li><a style="padding-left:15px;" href="/pageview/24">Systems</a></li>
													<li><a style="padding-left:15px;" href="/pageview/25">Rolling Stocks</a></li>													
      </ul>                  
      </div>  
		</div>
        
	</li>
	
	<li class="menu_right"><a href="/index" class="drop">หน้าแรก</a>
    
		<div class="dropdown_1column">
        
                <div class="col_1">
                    <ul class="simple">
											 <li><a href="/mrtaview/16">รู้จัก รฟม</a></li>
											 <li><a href="/mrtaview/13">โครงสร้างองค์กร</a></li>
											 <li><a href="/mrtaview/14">Purple Line (I) Section</a></li>
											 <li><a href="/mrtaview/10" style="padding-left:20px;">Project Consultant</a></li>
											 <li><a href="/mrtaview/11" style="padding-left:20px;">Contractors</a></li>                        
											 <li><a href="/mrtaview/18">ส่วนต่อขยายโครงการสายสีม่วง</a></li>
											 <li><a href="/mrtaview/15">MRTA Network Plan</a></li>
                    </ul>   
                     
                </div>
                
		</div>
	
	</li>
</ul>
