<ul >
  <% @news.each do |newletter|%>
     <li  >
     <a href="/shownews/<%=newletter.id%>">
     <span class="badge"><%=newletter.start_on%></span>
     <p style="min-height:30px;font-size:14px;"><%=newletter.title%></p>
     </a>
     </li>
  <%end%>
</ul>

