<ul id="ticker01">
  <% @announces.each do |announce| %>
     <li>
       <span><%=announce.start_on%></span>
        <a href="/announce/<%=announce.id%>">
           <span><%=announce.title%></span>
        </a>
     </li>
  <%end%>
</ul>
