<ul >
  <% @news.each do |newletter|%>
     <li >
     <a href="/newletter/<%=newletter.id%>">
     <span class="badge"><%=newletter.start_on%></span>
     <span><%=newletter.title%></span>
     </a>
     </li>
  <%end%>
</ul>

