<!-- s3slider width=940px, height=270px -->
<div id="org">
   <ul id="orgcontent">
      <li class="">
          <div class="orgimage">
             <img src="images/mrta-org.gif" />
          </div>
          <span>Mass Rapid Transit Authority of Thailand <br/>175 Rama IX Rd., Huay Khwang, Bangkok 10320
         </span>
      </li>
      <li class="">
         <div class="orgimage">
         <img src="images/logo-pcpl.jpg" />
         </div>
         <span>
The Project Consulting Service <br/>for the MRT PURPLE line <br/>Project Bang Yai -Bang Sue Section
         </span>
      </li>
  
   </ul>
</div>   
