<!-- s3slider width=940px, height=270px -->
<div id="org">
   <ol class="formatcol-tour">
      <li>
          <div class="mrtalink" >
          <a href="http://www.mrta.co.th" target="_blank">
             <img src="../images/mrta-logo-sss.png"  />
          </a>   
             <br/>
             <span><b>การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย </b><br/>
             175 ถ.พระราม 9 ห้วยขวาง กรุงเทพฯ 10320<br/>
             โทร. 0 2612 2444 โทรสาร. 0 2612 2436
             </span>
             
          </div>    
      </li>
      <li>
         <div class="pcpllink" style="width:250px;">
         <%= link_to image_tag("logo-pcpl.jpg"),:action=>"mrtaview",:id=>"10"%><br/>

         <span>
               <b>กลุ่มบริษัทที่ปรึกษาโครงการรถไฟฟ้าสายสีม่วง </b> <br/>
               ช่วงบางใหญ่-บางซื่อ
         </span>
         </div>
      </li>
      <li>
         <div class="pcpllink" style="padding:5px;">
         <img src="../images/callcenter.png" /><br/>
         <span>
         </span>
         </div>
      </li>      
      <li>
         <div class="pcpllink" style="padding:5px;">
         <a href="/pageview/54?p=qa"><img src="../images/qa.png" /></a><br/>
         <span>
         </span>
         </div>
      </li>    
   </ol>
</div>   
