<!-- s3slider width=940px, height=270px -->
<div id="org">
   <ul id="orgcontent">
      <li class="orgcontentlist">
          <div class="orgimage">
             <img src="images/mrta-org.gif" />
          </div>
          <span>Mass Rapid Transit Authority of Thailand <br/>175 Rama IX Rd., Huay Khwang, Bangkok 10320
         </span>
      </li>
      <li class="suborg">
         <img src="images/logo-pcpl.jpg" />
         <span>
          THE PROJECT CONSULTING SERVICES FOR THE MRT PURPLE LINE PROJECT BANG YAI – BANG SUE SECTION
         </span>
      </li>
  
   </ul>
</div>   
