<!-- s3slider width=940px, height=270px -->
<div id="org">
   <ol class="formatcol-two">
      <li>
          <div class="linkbox" style="padding:5px;">
             <img src="images/mrta-logo-sss.png" height="33" width="80" /><br/>
             <span>Mass Rapid Transit Authority of Thailand <br/>175 Rama IX Rd., Huay Khwang, Bangkok 10320</span>
              <a href="http://mrta.co.th"></a>

          </div>    
      </li>
      <li>
         <div class="linkbox" style="padding:5px;">
         <img src="images/logo-pcpl.jpg" height="33" width="80"/><br/>
         <span>
               The Project Consulting Services<br/>for the MRTA Purple line <br/>Project Bang Yai -Bang Sue Section
         </span>
          <a href="/project"></a>

         </div>
      </li>
  
   </ol>
</div>   
