<!-- s3slider width=940px, height=270px -->
<div id="s3slider">
   <ul id="s3sliderContent">
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_01.jpg" />
          <span>Station 1 Khlong Bang Pai Station</span>
      </li>
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_02.jpg" />
          <span>Station 2 Talad Bang Yai Station</span>
      </li>
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_03.jpg" />
          <span>Station 3 Sam Yaek Bang Yai Station</span>
      </li>
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_04.jpg" />
          <span>Station 4 Bang Phlu Station</span>
      </li>
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_05.jpg" />
          <span>Station 5 Bang Rak Yai Station</span>
      </li>   
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_06.jpg" />
          <span>Station 6 Tha It Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_07.jpg" />
          <span>Station 7 Sai Ma Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_08.jpg" />
          <span>Station 8 Phra Nang Klao Bridge Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_09.jpg" />
          <span>Station 9 Yeak Nontahburi 1 Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_10.jpg" />
          <span>Station 10 Si Phonsawan Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_11.jpg" />
          <span>Station 11 Nonthaburi Civic Center Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_12.jpg" />
          <span>Station 12 Ministry of Public Health Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_13.jpg" />
          <span>Station 13 Yeak Tiwanon Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_14.jpg" />
          <span>Station 14 Wong Sawang Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_15.jpg" />
          <span>Station 15 Bang Son Station</span>
      </li> 
      <li class="s3sliderImage">
          <img src="../images/asset/s3slider/Station_16.jpg" />
          <span>Station 16 Tao Poon Station</span>
      </li> 
      
   </ul>
</div> 
