<!-- s3slider width=940px, height=270px -->
<div id="s3slider">
   <ul id="s3sliderContent">
      <li class="s3sliderImage">
          <img src="images/asset/s3slider/Station_01.jpg" />
          <span>Station 1</span>
      </li>
      <li class="s3sliderImage">
          <img src="images/asset/s3slider/Station_02.jpg" />
          <span class="bottom">Station 2</span>
      </li>
      <li class="s3sliderImage">
          <img src="images/asset/s3slider/Station_03.jpg" />
          <span>Station 3</span>
      </li>
      <li class="s3sliderImage">
          <img src="images/asset/s3slider/Station_04.jpg" />
          <span>Station 4</span>
      </li>
      <li class="s3sliderImage">
          <img src="images/asset/s3slider/Station_16.jpg" />
          <span>Station 16</span>
      </li>      
      <div class="clear s3sliderImage"></div>
   </ul>
</div> 
