<% form_tag { :controller => :home, :action => :allannounce }, { :method => post, :remote => true } do %>
  <p>
    <%= text_field_tag :search, params[:search], :size=>18 %>
    <%= submit_tag "GO!", :name => nil %>
  </p>
<% end %>
