<div id="destination_dropdown">
   <select id="destination_select" name="destination">
     <option value=""> Choose Location .......</option>
     <option value=""> สถานี...........</option>
     <option value=""> สถานี...........</option>
     <option value=""> สถานี...........</option>
     <option value=""> สถานี...........</option>
   </select>
   <input class="go" type=submit value="GO">
</div>
