<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MRTA-PURPLE LINE BANG YAI - BANG SUE SECTION</title>

  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
  <!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
<p>test</p>
<%=yield%>
</body>
</html>
