<!DOCTYPE html>
<html>
<head>
  <title>Purpleline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.swfobject.1-1-1.min"  %>
  <%= csrf_meta_tag %>
  <script>
  $(document).ready(
	function() {
		$('#myFlash').flash({swf: './swfs/intro01.swf',width:900,height:500});

                   }
         );
  </script>

</head>
<body>
<style type='text/css'>
body {
font: normal normal 14px Arial, Tahoma, Helvetica, FreeSans, sans-serif;;
color: #333333;
background: #111111 url(./images/imagebg.jpg) repeat-x fixed top center;
}
.content-outer {
background: transparent none repeat scroll top left;
-moz-border-radius: 0;
-webkit-border-radius: 0;
-goog-ms-border-radius: 0;
border-radius: 0;
-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
-goog-ms-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
box-shadow: 0 0 0 rgba(0, 0, 0, .15);
width: 980px;
margin: 20px auto;
}

.main-outer {
background: transparent url(./images/white80.png) repeat scroll top left;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-goog-ms-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
-goog-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}
.main-inner {
padding:  20px 0px;
margin: 0px auto;
}

</style>

<div class="content-outer">
  <div class="main-outer">
    <div class="main-inner">
    <div id="myFlash" style="width:960px;">
	The &quot;You don't have flash&quot; message.
	Or Please install flash.
   </div>
    </div>
  </div>
</div>
</body>
</html>
